@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

.overall-header-section{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: white;
flex-wrap: wrap;
padding: 1rem;
gap: 1rem;
align-items: center;
}
.left-header-section{

}

.logo-name{
display: flex;
flex-direction: row;
gap:.5rem;
justify-content: center;
align-items: center;

}
.grad-icon{
font-size: 7rem; 
}
.mutc-name{
font-size: 2rem;

}
.nav-links-ul{
display: flex;
flex-direction: row;
gap: 5rem;
padding-block: 2rem;
}
.menu-icon{
    width:  max-content;
    height: max-content;
   }
@media screen and (min-width:43.76em) {
   .menu-icon{
    display: none;
   }
 }
@media screen and (max-width:43.75em) {
   .center-header-section{
    display: none;
   } 
  .menu-icon-item{
    font-size: 2.5rem;
   
  }
}
.nav-links-ul li:hover{
border-bottom: 2px solid rgb(34, 34, 213);
}
.link-item{
text-decoration: none;
font-size: 2rem;
color:black;
}
.sidebar-container-header{
position: relative;
}
.cross-icon{
position: absolute;
z-index: +1;
top: 0px;
left:90vw;
width: max-content;
height: max-content;
}