*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
:root{
  --colorWhite:white;
  --font-family-logo:"Merienda", cursive;
  --fontFamilyTypewritter:"Poppins", sans-serif
}


